In [44]:
import csv
import gzip
from datetime import datetime as dt
import numpy as np
import pandas as pd

In [45]:
dataDir = "car_prices.csv.gz"

In [55]:
dataset = []
header = []
count = 0
errCount = 0

with gzip.open(dataDir, 'rt', encoding="utf8") as file:
    reader = csv.reader(file)
    for row in reader:
        if count == 0:
            header = row
        else:
            d = dict(zip(header, row))
            try:
                d['year'] = int(d['year'])
                d['condition'] = float(d['condition'])
                d['odometer'] = int(d['odometer'])
                d['mmr'] = int(d['mmr'])
                d['sellingprice'] = int(d['sellingprice'])
                d['saledate'] = ' '.join(d['saledate'].split(' ')[:5])
                d['saledate'] = dt.strptime(d['saledate'], '%a %b %d %Y %H:%M:%S')
            except ValueError: # remove problematic data
                errCount += 1
                continue
            dataset.append(d)
        count += 1

In [48]:
dataset[2895]

{'year': 2008,
 'make': 'Honda',
 'model': 'Accord',
 'trim': 'EX-L',
 'body': 'Sedan',
 'transmission': 'automatic',
 'vin': 'jhmcp26878c032485',
 'state': 'ca',
 'condition': 2.5,
 'odometer': 114179,
 'color': 'green',
 'interior': 'black',
 'seller': 'ahfc/honda lease trust/hvt, inc.',
 'mmr': 8650,
 'sellingprice': 8600,
 'saledate': datetime.datetime(2014, 12, 18, 12, 0)}

In [56]:
errCount

11849

In [57]:
count

546989

In [49]:
df = pd.DataFrame(dataset)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546988 entries, 0 to 546987
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          546988 non-null  int64
 1   make          546988 non-null  object
 2   model         546988 non-null  object
 3   trim          546988 non-null  object
 4   body          546988 non-null  object
 5   transmission  546988 non-null  object
 6   vin           546988 non-null  object
 7   state         546988 non-null  object
 8   condition     546988 non-null  float64
 9   odometer      546988 non-null  int64
 10  color         546988 non-null  object
 11  interior      546988 non-null  object
 12  seller        546988 non-null  object
 13  mmr           546988 non-null  int64
 14  sellingprice  546988 non-null  int64
 15  saledate      546988 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(10)
memory usage: 66.8+ MB

In [51]:
df.nunique(axis=0)

year                34
make                94
model              960
trim              1922
body                87
transmission         3
vin             538772
state               38
condition           41
odometer        169481
color               21
interior            18
seller           12962
mmr               1101
sellingprice      1865
saledate          3721
dtype: int64

In [52]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,546988.000000,546988.000000,546988.000000,546988.000000,546988.000000
mean,2010.134301,3.424564,67262.638186,13915.646367,13764.328400
std,3.906344,0.949415,52793.170543,9674.331700,9747.756735
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2008.000000,2.700000,28050.750000,7375.000000,7100.000000
50%,2012.000000,3.600000,51222.000000,12400.000000,12300.000000
75%,2013.000000,4.200000,97391.250000,18450.000000,18300.000000
max,2015.000000,5.000000,999999.000000,182000.000000,230000.000000